body{
    background-color: rgb(204, 20, 255);
    color: rgb(182, 220, 255);
    font-family: "Lucida Console", "Courier New", monospace;
}

/* input[type=radio]{
display: block;
} */
label{
    width: 40vw;
    display: inline-block;
    white-space: nowrap;
}
td{
    text-align: right;
}
th{
    text-align: left;
}